*{
  margin:0px;
  padding: 0px;
}
body{
  background: rgb(161,0,185);
background: linear-gradient(90deg, rgba(161,0,185,1) 0%, rgba(41,81,187,1) 65%, rgba(0,159,255,1) 98%);
}
  button{
  width: 30px;
  height: 30px;
  margin: 10px;
  }

  